.container {
  display: none;  
}

#test-scroll {
  position: absolute;
  width: 100%;
  background-color: gray;
  height: 400px;
  margin-top: 840px;
  margin-bottom: 840px;
  text-align: center;
  font-size: 100px;
}